.container{
    /* text-align: center; */
    font-family: 'Maven Pro', sans-serif;
    background-color: dimgray;
    color: whitesmoke;

}

h1,h3 {
    color: cornflowerblue;
}
a{
    color: red;
}

span{
    color: yellow;
}
.courses{
    color: black;
    background-color: papayawhip;
}
.moode>img{
    height: 200px;
    width: 200px;
}
