body{
    width: 80%;
    margin: auto;
    /* background-color: grey; */
}
.header{
    background-color: #b0a9ba;
}

nav{
    /* background-color: gainsboro; */
    /* padding: 10px; */
    /* display: flex; */
    padding: 15px;
    /* border: 1px solid black; */
    height: 40px;
    
    
}
nav h3{
    display: inline-block;

}
.heading_line{
    padding: 10px;
}
.main{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    padding: 10px;
    /* margin: auto;
    width: 80%; */
}

.side1{
    /* background-color: aqua; */
    padding: 10px;
    color: black;
    border: 1px solid black;
}
.side2{
    padding: 10px;
    border: 1px solid black;
}

.form_elem{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
 
}
.footer{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    color: whitesmoke;
    background-color: #e7e1f0;
    /* justify-items: center; */
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    
    
}
div.buttons{
    width: 300px;
    margin: auto;
   
}

@media only screen and (max-width: 810px) {
    .main{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 10px;
        padding: 10px;
    }
}